body {
  background-color: black;
  color: white;
}

.navbar {
  background-color: black;
  padding: 10px 0;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0s, transform 0.3s ease-in-out;
}

.navbar .nav-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a.nav-link {
  color: white;
  transition: color 0.3s;
}

.navbar a.nav-link:hover {
  color: #ccc;
  text-decoration: none;
}

.navbar a.nav-link, 
.navbar .btn-outline-light {
  color: white;
  transition: color 0.3s;
}

.navbar a.nav-link:hover, 
.navbar .btn-outline-light:hover {
  color: #ccc;
  text-decoration: none;
}

.navbar .btn-outline-light.nav-link:hover {
  color: white;
}

.navbar .nav-link,
.navbar .btn-conn {
  color: white;
  transition: color 0.3s;
  text-decoration: none;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0s, transform 0.3s ease-in-out;
}

.navbar .nav-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.navbar .nav-link:hover,
.navbar .btn-conn:hover {
  color: #ccc;
  text-decoration: none;
}

.navbar .btn-conn {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.navbar .btn-conn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.event-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.event-photo {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.event-details {
  margin-top: 15px;
}

.event-date {
  font-style: italic;
  color: #888;
}

.event-description {
  margin-top: 10px;
  line-height: 1.4;
}

.event-organizer {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}

.event-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  color: #007bff;
}

.event-link:hover {
  text-decoration: underline;
}


.red-color {
  color:red;
}