<footer class="text-white-50">
  <div class="container text-center"> <!-- Centrer le contenu -->
    <p class="text-white text-center">SPOTEVENTS 2023 © tous droits réservés. </p>
  </div>
</footer>
</div>
